* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  color: currentColor;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px;
}

.main-header {
  background-color: aquamarine;
}

.task-list {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.status {
  background-color: orange;
  color: white;
  display: block;
  font-weight: bold;
  line-height: 2rem;
  padding: 0 10px;
}